* {
    box-sizing: border-box;
}

body {
    z-index: -20000;
}

.page {
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #FB6B6B;
}

.mobile {
    background-color: #FB6B6B;
    position: relative;
    /* height: 667px;
    width: 375px; */
    height: 100vh;
    width: 100vh;
    margin-bottom: 100px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.appName {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin: 12px 0px 12px 0px
}

.buttonStart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #D70900;
}

.mobileFlashCards {
    justify-content: flex-start;
}

.mobileFlashCards .titleFlashCards {
    display: flex;
    align-items: center;
    margin: 28px 0px 0px 0px;
}

.mobileFlashCards .appName {
    margin-left: 30px
}

.mobileFooter {
    width: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px 12px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #333333;

    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    /* left: 0px;
    right: 0px; */
    bottom: 0px;
    z-index: 1;
}

.mobileFlashCards .flashCardsQuestions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 60px 0px 0px 0px;
    /* padding-left: 12px;
    padding-right: 12px; */
    padding: 12px;
    width: 300px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.mobileFlashCards .flashCardsQuestions ion-icon {
    font-size: 24px;
    font-weight: 900;
}

.mobileFlashCards .answerIcons {
    display: flex;
}

.answerIcons .naoLembrei {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 85.17px;
    height: 37.17px;

    background: #FF3030;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.answered {
    display: flex;
    justify-content: flex-end;
}

.wrong {
    color: red;
}

.almost {
    color: #FF922E;
}

.right {
    color: #2FBE34;
}

.answered .wrong {
    color: #FF3030;
}

.answered .almost ion-icon {
    color: #FF922E;
}

.answered .zap ion-icon {
    color: #2FBE34;
}

.answerIcons .quaseLembrei {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 85.17px;
    height: 37.17px;

    background: #FF922E;
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.answerIcons .zap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 85.17px;
    height: 37.17px;

    background: #2FBE34;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}